@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

.wrapper {
    height: 100vh;
    width: 100vW;
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 25%;
    padding-left: 136px;
}

.container-right {
    display: inline-block;
    background-color: rgb(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 15%;
    right: 130px;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    Width: 368px;
}

p {
    font-size: 28px;
    line-height: 48px;
    text-align: left;
    opacity: 60%;
    margin: 15px 0;
    width: 540px;
}

button {
    width: 269px;
    height: 62px;
    font-size: 24px;
    line-height: 35.57px;
    box-shadow: 0px 10px 24px 0px #9499EA19;
    color: #ffffff;
    background: #9499EA;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .5;
}

a {
    font-size: 28px;
    line-height: 41.5px;
    color: #5D5D7D;
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: .4;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: .8;
}

header {
    margin: 24px 0 0 57px;
}

@media screen and (max-width: 900px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        padding: 40px;
        position: static;

    }

    img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        font-weight: 400;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        line-height: 24px;
        font-size: 14px;
    }

    button {
        margin: 1px auto;
        display: block;
    }
}

@media screen and (max-width: 375px) {
    .container-left {
        height: 70%;
    }
}